.w3-theme-l5 {color:#000 !important; background-color:#fefef8 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fcfae8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#f9f5d2 !important}
.w3-theme-l2 {color:#000 !important; background-color:#f6f0bb !important}
.w3-theme-l1 {color:#000 !important; background-color:#f3eba5 !important}
.w3-theme-d1 {color:#000 !important; background-color:#ecdf6c !important}
.w3-theme-d2 {color:#000 !important; background-color:#e8d84a !important}
.w3-theme-d3 {color:#000 !important; background-color:#e3d029 !important}
.w3-theme-d4 {color:#000 !important; background-color:#cbb91a !important}
.w3-theme-d5 {color:#fff !important; background-color:#a99b16 !important}

.w3-theme-light {color:#000 !important; background-color:#fefef8 !important}
.w3-theme-dark {color:#fff !important; background-color:#a99b16 !important}
.w3-theme-action {color:#fff !important; background-color:#a99b16 !important}

.w3-theme {color:#000 !important; background-color:#f0e68c !important}
.w3-text-theme {color:#f0e68c !important}
.w3-border-theme {border-color:#f0e68c !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#f0e68c !important}
.w3-hover-text-theme:hover {color:#f0e68c !important}
.w3-hover-border-theme:hover {border-color:#f0e68c !important}