.w3-theme-l5 {color:#000 !important; background-color:#fffef3 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fffbd8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#fff7b1 !important}
.w3-theme-l2 {color:#000 !important; background-color:#fff38b !important}
.w3-theme-l1 {color:#000 !important; background-color:#ffef64 !important}
.w3-theme-d1 {color:#000 !important; background-color:#ffe81e !important}
.w3-theme-d2 {color:#000 !important; background-color:#fde400 !important}
.w3-theme-d3 {color:#000 !important; background-color:#ddc700 !important}
.w3-theme-d4 {color:#fff !important; background-color:#beab00 !important}
.w3-theme-d5 {color:#fff !important; background-color:#9e8e00 !important}

.w3-theme-light {color:#000 !important; background-color:#fffef3 !important}
.w3-theme-dark {color:#fff !important; background-color:#9e8e00 !important}
.w3-theme-action {color:#fff !important; background-color:#9e8e00 !important}

.w3-theme {color:#000 !important; background-color:#ffeb3b !important}
.w3-text-theme {color:#ffeb3b !important}
.w3-border-theme {border-color:#ffeb3b !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#ffeb3b !important}
.w3-hover-text-theme:hover {color:#ffeb3b !important}
.w3-hover-border-theme:hover {border-color:#ffeb3b !important}