.w3-theme-l5 {color:#000 !important; background-color:#fffbf0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fff3cd !important}
.w3-theme-l3 {color:#000 !important; background-color:#ffe69b !important}
.w3-theme-l2 {color:#000 !important; background-color:#ffda69 !important}
.w3-theme-l1 {color:#000 !important; background-color:#ffcd37 !important}
.w3-theme-d1 {color:#000 !important; background-color:#eab000 !important}
.w3-theme-d2 {color:#fff !important; background-color:#d09c00 !important}
.w3-theme-d3 {color:#fff !important; background-color:#b68900 !important}
.w3-theme-d4 {color:#fff !important; background-color:#9c7500 !important}
.w3-theme-d5 {color:#fff !important; background-color:#826200 !important}

.w3-theme-light {color:#000 !important; background-color:#fffbf0 !important}
.w3-theme-dark {color:#fff !important; background-color:#826200 !important}
.w3-theme-action {color:#fff !important; background-color:#826200 !important}

.w3-theme {color:#000 !important; background-color:#ffc107 !important}
.w3-text-theme {color:#ffc107 !important}
.w3-border-theme {border-color:#ffc107 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#ffc107 !important}
.w3-hover-text-theme:hover {color:#ffc107 !important}
.w3-hover-border-theme:hover {border-color:#ffc107 !important}