.w3-theme-l5 {color:#000 !important; background-color:#f8f4f3 !important}
.w3-theme-l4 {color:#000 !important; background-color:#e7dcd7 !important}
.w3-theme-l3 {color:#000 !important; background-color:#d0b8b0 !important}
.w3-theme-l2 {color:#fff !important; background-color:#b89588 !important}
.w3-theme-l1 {color:#fff !important; background-color:#a07261 !important}
.w3-theme-d1 {color:#fff !important; background-color:#6d4d41 !important}
.w3-theme-d2 {color:#fff !important; background-color:#61443a !important}
.w3-theme-d3 {color:#fff !important; background-color:#553c33 !important}
.w3-theme-d4 {color:#fff !important; background-color:#49332c !important}
.w3-theme-d5 {color:#fff !important; background-color:#3d2b24 !important}

.w3-theme-light {color:#000 !important; background-color:#f8f4f3 !important}
.w3-theme-dark {color:#fff !important; background-color:#3d2b24 !important}
.w3-theme-action {color:#fff !important; background-color:#3d2b24 !important}

.w3-theme {color:#fff !important; background-color:#795548 !important}
.w3-text-theme {color:#795548 !important}
.w3-border-theme {border-color:#795548 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#795548 !important}
.w3-hover-text-theme:hover {color:#795548 !important}
.w3-hover-border-theme:hover {border-color:#795548 !important}